sudo: required
language: python
dist: trusty
python:
    - '3.5'

addons:
  apt:
    packages:
    - texlive-latex-recommended
    - texlive-fonts-recommended
    - texlive-latex-extra
    - latexmk

install:
  - pip install sphinx

script:
  - cd doc
  - make html
  - make latexpdf

#notifications:
#  irc:
#    channels:
#      - "chat.freenode.net#autocrypt"
#    on_success: change
#    on_failure: change
#    skip_join: true
#  email:
#    - pytest-commit@python.org
