body:before {
  content: "THIS IS A DRAFT! please refer to https://autocrypt.org/ for the current Autocrypt website";
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 1em;
  color: black;
  font-weight: bold;
  font-size: 150%;
  min-height: 2em;
  z-index: 10;
  background-color: rgba(255,0,0,0.1);
  text-shadow: 5px 5px 2px rgba(0,0,0,0.2);
  text-align: center;
}
.document {
  padding-top: 4em;
}
